* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f6f6f9;
}
.calculator {
  background: #84848ada;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  width: 280px;
}
.display {
  background: rgb(196, 167, 213);
  color: #fff;
  font-size: 32px;
  padding: 20px;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 15px;
  min-height: 60px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.btn {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #3d3d54;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}














.equals {
    background:#ff3b30;

}
.equals:hover{
    background-color: #ef5d56;
}

  